body {
    margin: 0;
    padding: 0;
    font-size: 13px;
}

a{
    text-decoration: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover, a:active{
    text-decoration: underline;
}

header {
    width: 100%;
    height: 60px;
}

header nav {
    display: flex;
    justify-content:flex-end;
}

header nav .nav-right-section{
    width: 250px;
    height: auto;
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

header .nav-right-section a{
    margin-right: 20px;
    color: #5f6368;

}

nav .nav-right-section .menu-icon{
    background-image: url("./assets/756729-200.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;

}

nav .nav-right-section img{
    border-radius: 50%;
    margin-left: 15px;
}

main{
    margin-top: 50px;
    text-align: center;
}

main .main-logo {
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-logo img{
    width: 300px;
}

main .main-input{
    width: 530px;
    margin: 0 auto;
    margin-bottom: 35px;
}

main .main-input-container{
    width: 525px;
    border-radius: 100px;
    border: 1px solid rgb(223 225 229);
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-input input{
    width: 450px;
    height: 40px;
    border: none;
    outline: none;
}

main .main-input-container:hover{
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
}

main .main-input .search-icon{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS10zvJylMWIK0N-M2V9JqQcyDGIMLXmna2rgU2DM9eCycIsj59WSoo0K3zKvnoCXcWRDg&usqp=CAU);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 15px;
    height: 15px;

}

main .main-input .micro-icon{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-C9NgoDKD_kwtuCg6ZEn36AUV1JeSO8uN558IYxehXfidDdx1qqjUkBp8mqOVTdOyUoA&usqp=CAU);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

main .main-buttons{
    width: 530px;
    margin: 0 auto;

}

main .main-buttons div{
    display: inline-block;
}

main .main-buttons button{
    color: #5f6368;
    font-size: 14px;
    height: 36px;
    background-color: #f8f9fa;
    border-radius: 4px;
    border: 1px solid #f8f9fa;
    padding: 0 16px;
    cursor: pointer;
    margin-right: 0 15px;
    margin-right: 15px;
}

main .main-buttons button:hover{
    border:1px solid #dadce0 ;
    box-shadow:0 1px 1px rgb(0 0 0 / 10%) ;
    color: #202124;
}
